{% extends 'base.html.twig' %}
{% block body %}

    <div class="columns">
        <div class="column is-two-fifths">
            <aside class="menu">
                <p class="menu-label">
                    Konto
                </p>
                <ul class="menu-list">
                    <li><a href="{{ path('account_settings') }}">Ustawienia</a></li>
                    <li><a href="{{ path('account_management') }}">Zarządzanie profiilem</a></li>
                </ul>
            </aside>
        </div>
        <div class="column">

            {% block account %}
            {% endblock %}

        </div>
    </div>

{% endblock %}